
<div class="div-container-90">

    <p-tabView>

            <p-tabPanel header="New Security">

                   <span><h4>*Select security Type</h4></span>
                    <p-dropdown [options]="security1" [(ngModel)]="selectedCity1" class="fix-width-2"></p-dropdown>

                    <div style="margin-top: 2rem;"></div>

                    <span><h4>*Input security Name</h4></span>
                    <input pInputText type="text" [pKeyFilter]="noSpecial" [(ngModel)]="newSecurityName" class="fix-width-2"  placeholder="security name" > 
                    
                    
                    
                    <div style="margin-top: 2rem;"></div>

                    <span><h4>*Input security Price</h4></span>
                    <input pInputText type="text" [pKeyFilter]="noSpecial" [(ngModel)]="newSecurityPrice" class="fix-width-2"  placeholder="security price" >  
    
                    <div style="margin-top: 2rem;"></div>
                    <button pButton label="Add" (click)="addSecurity()" class="fix-width-2"></button>

                    <div style="margin-top: 2rem;"></div>

            </p-tabPanel>

    </p-tabView>

</div>
