.ui-inputgroup-addon{
    width: 80%;
    border: none !important;
    background-color: white !important;
    margin: 0 auto;
}
.update-div{
    margin: 1rem
}
.update-span{
    display: inline-block;
    width: 15rem;
    margin-right: 12rem;
}
.update-input{
    border-left:1px solid #a6a6a6 !important;
}