<div class="div-container-90">
    <div class="panel-header">
            <div class="ui-g-1"> <h3>Date</h3></div>
            <div class="ui-g-1"><h3>Asker</h3></div>
            <div class="ui-g-2"><h3>transfor start date</h3></div>
            <div class="ui-g-2"><h3>transfor end date</h3> </div>
            <div class="ui-g-4"><h3>description</h3> </div>
            <div class="ui-g-2"><h3>Options</h3></div>

        </div>
</div>

<div class="header-line">

</div>


<div class="div-container-90" *ngFor="let item of currentData;let i=index;">



<div class="sub-child">

        <div class="ui-g-1"> <h4>{{item.requestDate}}</h4></div>
        <div class="ui-g-1">{{item.Asker}}</div>
        <div class="ui-g-2">{{item.startDate}}</div>
        <div class="ui-g-2">{{item.endDate}} </div>
        <div class="ui-g-4">{{item.description}} </div>
        <div class="ui-g-2">
            <button pButton type="button" (click)="acceptRequest(i)" label="Accept" class="ui-button-raised ui-button-success" style="margin-right:1rem;"></button>

            <button pButton type="button" (click)="rejectRequest(i)" label="Reject" class="ui-button-raised ui-button-danger"></button>
        </div>

</div>

<div class="clear-div"></div>
</div>

<p-paginator [rows]="10" [totalRecords]="100" (onPageChange)="paginate($event)" ></p-paginator>