<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.portfolio.mapper.ClassifyMapper">
  <resultMap id="BaseResultMap" type="com.citi.portfolio.model.Classify">
    <id column="typeId" jdbcType="INTEGER" property="typeId" />
    <result column="typeName" jdbcType="CHAR" property="typeName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from classify
    where typeId = #{typeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.citi.portfolio.model.Classify">
    insert into classify (typeId, typeName)
    values (#{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.model.Classify">
    update classify
    set typeName = #{typeName,jdbcType=CHAR}
    where typeId = #{typeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select typeId, typeName
    from classify
    where typeId = #{typeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select typeId, typeName
    from classify
  </select>
</mapper>