<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.portfolio.mapper.ExampleUserMapper">
    <resultMap id="BaseResultMap" type="com.citi.portfolio.model.ExampleUser">
        <id column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.citi.portfolio.model.ExampleUser">
      insert into user (user_code, user_name, password)
      values (#{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>

    <select id="selectTest" resultType="java.util.HashMap">
        select * from mblx
    </select>
</mapper>