<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.citi.portfolio.mapper.PortfolioMapper" >
  <resultMap id="BaseResultMap" type="com.citi.portfolio.model.Portfolio" >
    <id column="portfolio_id" property="portfolioId" jdbcType="CHAR" />
    <result column="portfolio_name" property="portfolioName" jdbcType="CHAR" />
    <result column="manager_id" property="managerId" jdbcType="CHAR" />
    <result column="create_date" property="createDate" jdbcType="CHAR" />
    <result column="portfolio_change_rate" property="portfolioChangeRate" jdbcType="DOUBLE" />
  </resultMap>

  <sql id="Base_Column_List" >
    portfolio_id, portfolio_name, manager_id, create_date, portfolio_change_rate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from portfolio
    where portfolio_id = #{portfolioId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from portfolio
    where portfolio_id = #{portfolioId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.citi.portfolio.model.Portfolio" >
    insert into portfolio (portfolio_id, portfolio_name, manager_id, 
      create_date, portfolio_change_rate)
    values (#{portfolioId,jdbcType=CHAR}, #{portfolioName,jdbcType=CHAR}, #{managerId,jdbcType=CHAR}, 
      #{createDate,jdbcType=CHAR}, #{portfolioChangeRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.citi.portfolio.model.Portfolio" >
    insert into portfolio
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="portfolioId != null" >
        portfolio_id,
      </if>
      <if test="portfolioName != null" >
        portfolio_name,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="portfolioChangeRate != null" >
        portfolio_change_rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="portfolioId != null" >
        #{portfolioId,jdbcType=CHAR},
      </if>
      <if test="portfolioName != null" >
        #{portfolioName,jdbcType=CHAR},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=CHAR},
      </if>
      <if test="portfolioChangeRate != null" >
        #{portfolioChangeRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.citi.portfolio.model.Portfolio" >
    update portfolio
    <set >
      <if test="portfolioName != null" >
        portfolio_name = #{portfolioName,jdbcType=CHAR},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=CHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=CHAR},
      </if>
      <if test="portfolioChangeRate != null" >
        portfolio_change_rate = #{portfolioChangeRate,jdbcType=DOUBLE},
      </if>
    </set>
    where portfolio_id = #{portfolioId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.model.Portfolio" >
    update portfolio
    set portfolio_name = #{portfolioName,jdbcType=CHAR},
      manager_id = #{managerId,jdbcType=CHAR},
      create_date = #{createDate,jdbcType=CHAR},
      portfolio_change_rate = #{portfolioChangeRate,jdbcType=DOUBLE}
    where portfolio_id = #{portfolioId,jdbcType=CHAR}
  </update>

  <select id="selectAllForCurrentUser" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select portfolioId, portfolioName, ownerId, changeRate
    from portfolio
    where ownerId = #{userId,jdbcType=CHAR}
  </select>

  <select id="selectPortfolioDetail" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select item.create_date, item.security_id, se.security_name, pos.position_value, pr.price_change_rate, pr.value
    from portfolio_item as item, security as se, position as pos, price as pr
    where item.security_id = se.security_id and item.security_id = pos.security_id and pr.security_id = item.security_id
  </select>
</mapper>