<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.citi.portfolio.mapper.PriceMapper">
  <resultMap id="BaseResultMap" type="com.citi.portfolio.model.Price">
    <id column="securityId" jdbcType="CHAR" property="securityId" />
    <id column="Date" jdbcType="CHAR" property="date" />
    <result column="Price" jdbcType="REAL" property="price" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="map">
    delete from price
    where securityId = #{securityId,jdbcType=CHAR}
      and Date = #{date,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.citi.portfolio.model.Price">
    insert into price (securityId, Date, Price
      )
    values (#{securityId,jdbcType=CHAR}, #{date,jdbcType=CHAR}, #{price,jdbcType=REAL}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.citi.portfolio.model.Price">
    update price
    set Price = #{price,jdbcType=REAL}
    where securityId = #{securityId,jdbcType=CHAR}
      and Date = #{date,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    select securityId, Date, Price
    from price
    where securityId = #{securityId,jdbcType=CHAR}
      and Date = #{date,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select securityId, Date, Price
    from price
  </select>
</mapper>