<div class="div-container-90">
    <p-tabView>
        <p-tabPanel header="Security Market">
            <p-dropdown  
                [options]="options" 
                [(ngModel)]="selectedCity" 
                optionLabel="type" 
                (click)='getTypeData(selectedCity.code)'
                class="drop"
                styleClass="ui-inputtext"
                >
            </p-dropdown>
            <div class="secMarketList">
                <div>
                    <li class="market-list list-border">
                        <span class='span-default details'>DATE</span>
                        <span class='span-default details'>NAME</span>
                        <span class='span-default details'>PRICE</span>
                        <span class='span-default details'>Change Rate</span>
                        <span class='option option-th'>OPTION</span>
                    </li>
                    <li *ngFor="let item of currentData ; let i = index" class="market-list market-list-line" >
                        <div class="li-line">
                            <span class='span-default details'>{{item.createDate}}</span>
                            <span class='span-default details'>{{item.name}}</span>
                            <span class='span-default details'>{{item.price}}</span>
                            <span class='span-default details font-color-green' [ngClass]="{'font-color-red':item.changeRate < 0 }">{{item.changeRate}}</span>
                            <span class="option">
                                <button pButton type="button"
                                                label='details' 
                                                class="ui-button-raised ui-button-rounded"
                                                (click)='toggle(i)'>
                                </button>
                            </span>
                            <div *ngIf='item.isShow' ng-transclude class="details-div market-list">
                                <li class="market-list list-border content-list">
                                    <span class='span-default create-time'>CREATE TIME</span>
                                    <span class='span-default port-name'>Security NAME</span>
                                    <span class='span-default create-time'>RATE</span>
                                    <span class='span-default create-time'>CHART</span>
                                </li>
                                <li *ngFor="let con of item.content; let c = index" class="content-list">
                                    <span class='span-default create-time'>{{con.create}}</span>
                                    <span class='span-default create-time'>{{con.securityName}}</span>
                                    <span class='span-default create-time'>{{con.rate}}</span>
                                    <span class='span-default create-time'>
                                        <button pButton type="button"  label="{{con.details}}" (click)='chartShow()' class="span-default"></button>
                                    </span>
                                </li>
                            </div>
                        </div>

                    </li>
                </div>
                <div class="page">
                    <p-paginator [rows]="10" [totalRecords]="100" (onPageChange)='pageChange($event)'></p-paginator>
                </div>
            </div>
        </p-tabPanel>

    </p-tabView>
</div>
