.main-container{
    width: 90%;
    margin: 0 auto;
}
.market-list{
    list-style: none;
    padding: 1rem .5rem;
}
.market-list-line:nth-child(odd){
    background: rgba(238,238,238,0.4)
}
.list-border{
    border-bottom:0.06rem solid #999999;
    font-weight: bold;
    font-size: 1.2rem;
}
.span-default{
    display: inline-block;
    text-align: center;    
}
.market-list .details{
    width: 20%;
}
.option-th{
    position: relative !important;
    top: 0 !important;
}
.option{
    float: right;
    position: relative;
    top: -8px;
}
.option button{
    width: 70px;
    
}
.option .delete{
    background-color: rgba(233,18,36,.6);
    border: 1px solid rgba(233,18,36,.6);
}
.option .update{
    background-color: #ffba01;
    border: 1px solid #ffba01;
}
//details
.create-time{
    width: 17%;
}
.port-name{
    width: 17%;  
}
.content-list{
    margin: .5rem .5rem;    
}
.details-div{
    position: relative;
    top: 0.6rem;
    background:rgba(238,238,238,0.4) !important;
    padding: 0;
    z-index: 99;
}
.chart{
    cursor: pointer;
}
.font-color-red{
    color: red !important;
}
.font-color-green{
    color: green;
}
//add

.add-wrapper{
    display: flex;
    justify-content: center;
}

.add-label{
    display: inline-block;
    width: 120px;
    margin: 1rem 0.2rem;
}
.add-button-wrapper{
    display: flex;
    justify-content: center;
}
.add-button{
    width: 200px;
    text-align: center;
}
