<div class="main-container">

<div class="market-header">
    <p-tabView>
            <p-tabPanel header="Fund Managaers">

                <div>
                    <li class="market-list list-border">
                        <span class='span-default name'>NAME</span>
                        <span class='span-default details'>DETAILS</span>
                        <span class='option option-th'>OPTION</span>
                    </li>
                    
                    <li *ngFor="let item of list_2 ; let i = index" class="market-list market-list-line" >
                        <div class="li-line">
                            <span class='span-default name'>{{item.name}}</span>
                            <span class='span-default details'>{{item.description}}</span>
                            <span class="option">
                                <button pButton type="button"
                                                label='details' 
                                                class="ui-button-raised ui-button-rounded"
                                                (click)='toggle(i)'>
                                </button>
                                <button pButton type="button"
                                                label='delete' 
                                                class="ui-button-raised ui-button-rounded delete"
                                                (click)='delete(i)'>
                                </button>
                                <button pButton type="button"
                                                label='update' 
                                                class="ui-button-raised ui-button-rounded update"
                                                (click)='update(i)'>
                                </button>
                            </span>
                            <div *ngIf='item.isShow' ng-transclude class="details-div market-list">
                                <li class="market-list list-border content-list">
                                    <span class='span-default create-time'>CREATE TIME</span>
                                    <span class='span-default port-name'>PORTFOLIO NAME</span>
                                    <span class='span-default create-time'>RATE</span>
                                    <span class='span-default create-time'>CHART</span>
                                </li>
                                <li *ngFor="let con of item.content; let c = index" class="content-list">
                                    <span class='span-default create-time'>{{con.create}}</span>
                                    <span class='span-default create-time'>{{con.portfolio_name}}</span>
                                    <span class='span-default create-time'>{{con.rate}}</span>
                                    <span class='span-default create-time'>
                                        <button pButton type="button"  label="{{con.details}}" (click)='chartShow(c)' class="span-default"></button>
                                    </span>
                                </li>
                            </div>
                        </div>

                    </li>
                </div>
                <div class="page">
                    <p-paginator [rows]="10" [totalRecords]="100"></p-paginator>
                </div>
            </p-tabPanel>















            <p-tabPanel header="Add">
                <div class="add-wrapper">
                    <div class="add-manager">
                        <div>
                            <label class="add-label"> Manager Name</label>
                            <input type="text">
                        </div>
                        <div>
                            <label class="add-label"> Password</label>
                            <input type="password">
                        </div>
                        <div class="add-button-wrapper">
                            <button pButton type="button"
                                    label='submit' 
                                    class="ui-button-raised ui-button-rounded add-button"
                                    (click)='submit()'>
                            </button>
                        </div>
                    </div>

                </div>
            </p-tabPanel>
    </p-tabView>

</div>

</div>
